{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Agence de développement des très petites, petites et moyennes entreprises est un établissement publique à caractère administratif, placé sous tutelle du Ministère des Petites et Moyennes Entreprises et de l'Artisanat - Brazzaville, République du Congo">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/adpme-fav.png'%}">
    <title>{% block title %}
        ADPME - 
    {% endblock title %}</title>
    <link rel="stylesheet preload" href="{% static 'assets/css/plugins/fontawesome.css'%}" as="style">
    <link rel="stylesheet preload" href="{% static 'assets/css/plugins/swiper.css'%}" as="style">
    <link rel="stylesheet preload" href="{% static 'assets/css/plugins/metismenu.css'%}" as="style">
    <link rel="stylesheet preload" href="{% static 'assets/css/plugins/magnifying-popup.css'%}" as="style">
    <link rel="stylesheet preload" href="{% static 'assets/css/plugins/odometer.css'%}" as="style">
    <link rel="stylesheet preload" href="{% static 'assets/css/vendor/bootstrap.min.css'%}" as="style">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet preload" as="style">
    <link rel="preload" as="image" href="{% static 'assets/images/banner/21.webp'%}" />
    <link rel="stylesheet preload" href="{% static 'assets/css/style.css'%}" as="style">
</head>

<body>

    <header class="header-one header--sticky">
        <div class="header-top-area-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-top-one-wrapper">
                            <div class="left">
                                <div class="mail">
                                    <a href="mailto:webmaster@example.com"><i class="fal fa-envelope"></i>
                                        dg-adpme@adpme.cg</a>
                                </div>
                                <div class="working-time">
                                    <p><i class="fal fa-clock"></i> Ouvert de : 8h00 à 17h00</p>
                                </div>
                            </div>
                            <div class="right">
                                <ul class="top-nav">
                                    <li><a href="{% url 'actualite' %}">ADPME News</a></li>
                                    <li><a href="#">Faq</a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                                <ul class="social-wrapper-one">
                                    <li><a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" aria-label="twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" aria-label="instagram"><i class="fab fa-instagram"></i></a></li>
                                    <li><a class="mr--0" href="#" aria-label="linkedin"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-main-one-wrapper">

                            <!-- 1er logo (logo ministère) -->
                            <div class="thumbnail logo-gauche">
                                <a href="{% url 'accueil' %}">
                                    <img src="{% static 'assets/images/logo/mpmea-1.png'%}" alt="finbiz-logo" class="logo-ministère">
                                </a>
                            </div>

                            <div class="main-header">
                                <div class="nav-area">
                                    <ul class="">
                                        <li class="main-nav mega-menu project-a-after">
                                            <a href="{% url 'accueil' %}">ADPME</a>
                                        </li>

                                        <li class="main-nav mega-menu">
                                            <a href="{% url 'a_propos' %}">A PROPOS</a>
                                        </li>
                                        <li class="main-nav has-dropdown mega-menu">
                                            <a href="#">PROGRAMMES</a>
                                            <div class="rts-mega-menu service-mega-menu-style">
                                                <div class="wrapper">
                                                    <div class="container">
                                                        <div class="row g-5">
                                                            <div class="col-lg-4">
                                                                <ul class="mega-menu-item parent-nav">
                                                                    <li>
                                                                        <a href="#">
                                                                            <div class="single-service-menu">
                                                                                <div class="icon">
                                                                                    <img src="{% static 'assets/images/service/04.svg'%}" alt="service">
                                                                                </div>
                                                                                <div class="info">
                                                                                    <h5 class="title">Caravane</h5>
                                                                                    <p class="details">
                                                                                        Promotion de l'esprit d'entreprise et soutien au développement économique...
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="service-details-5.html">
                                                                            <div class="single-service-menu">
                                                                                <div class="icon">
                                                                                    <img src="{% static 'assets/images/service/12.svg'%}" alt="service">
                                                                                </div>
                                                                                <div class="info">
                                                                                    <h5 class="title">CPA Universités</h5>
                                                                                    <p class="details">
                                                                                        Promotion de l'esprit d'entreprise en milieu universitaire.
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <ul class="mega-menu-item parent-nav">
                                                                    <li>
                                                                        <a href="#">
                                                                            <div class="single-service-menu">
                                                                                <div class="icon">
                                                                                    <img src="{% static 'assets/images/service/07.svg'%}" alt="service">
                                                                                </div>
                                                                                <div class="info">
                                                                                    <h5 class="title">Programme FADPME</h5>
                                                                                    <p class="details">
                                                                                        Appui direct aux entreprises à hauteur de 70%...
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                    
                                                                    <li>
                                                                        <a href="contact.html" class="free-consultation">
                                                                            <div class="single-service-menu">
                                                                                <div class="info">
                                                                                    <h5 class="title">L'ensemble des programmes</h5>
                                                                                    <p class="details">
                                                                                        Consultez l'ensemble des programmes de l'<strong>ADPME</strong>.
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="menu-thumb pl--20">
                                                                    <img src="{% static 'assets/images/banner/banner-adpme.svg'%}" alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="main-nav mega-menu">
                                            <a href="#">SERVICES</a>
                                        </li>
                                        <li class="main-nav project-a-after">
                                            <a href="{% url 'actualite' %}">ACTUALITES</a>
                                        </li>
                                        <li class="main-nav project-a-after">
                                            <a href="{% url 'contact' %}">CONTACT</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- 2nd logo (logo ministère) -->
                            <div class="thumbnail logo-droite">
                                <a href="{% url 'accueil' %}">
                                    <img src="{% static 'assets/images/logo/adpme.png'%}" alt="finbiz-logo" class="logo-ministere">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% block content %}
  
{% endblock content %}


 <!-- footer area start -->
    <div class="footer-8-area-bg bg_image pt--65">
        <div class="container pb--65">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-logo-area-left-8">
                        <a href="#" class="logo">
                            <img src="{% static 'assets/images/logo/adpme-blanc-2.png'%}" alt="logo">
                        </a>
                        <p class="disc">
                           Notre devoir, <strong>Vous accompagner</strong><br>
                           Votre réussite, <strong>Notre satisfaction</strong>
                        </p>
                        <ul class="social-area-wrapper-two">
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-4">
                    <div class="footer-one-single-wized">
                        <div class="wized-title">
                            <h5 class="title">Liens rapides</h5>
                            <img src="{% static 'assets/images/footer/under-title.png'%}" alt="finbiz_footer">
                        </div>
                        <div class="quick-link-inner">
                            <ul class="links">
                                <li><a href="{% url 'a_propos' %}"><i class="far fa-arrow-right"></i> A propos</a></li>
                                <li><a href="#"><i class="far fa-arrow-right"></i> Programmes</a></li>
                                <li><a href="#"><i class="far fa-arrow-right"></i> Actualités</a></li>
                                <li><a href="#"><i class="far fa-arrow-right"></i> Accompagnement</a></li>
                            </ul>
                            <ul class="links margin-left-70">
                                <li><a href="https://www.entreprises.gouv.cg/"><i class="far fa-arrow-right"></i> MPMEA</a></li>
                                <li><a href="https://acpce.cg/"><i class="far fa-arrow-right"></i> ACPCE</a></li>
                                <li><a href="https://figa.cg/"><i class="far fa-arrow-right"></i> FIGA</a></li>
                                <li><a href="https://dgpme.cg/"><i class="far fa-arrow-right"></i> DGPME</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-3">
                    <div class="footer-one-single-wized">
                        <div class="wized-title">
                            <h5 class="title">Contact Us</h5>
                            <img src="{% static 'assets/images/footer/under-title.png'%}" alt="finbiz_footer">
                        </div>
                        <div class="quick-link-inner d-block">
                            <div class="signle-footer-contact-8">
                                <div class="icon">
                                    <i class="fa-solid fa-phone-alt"></i>
                                </div>
                                <div class="inner-content">
                                    <h5 class="title">Contactez-nous</h5>
                                    <a href="#">(+242) 22.613.5432</a>
                                </div>
                            </div>
                            <div class="signle-footer-contact-8">
                                <div class="icon">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <div class="inner-content">
                                    <h5 class="title">E-mail</h5>
                                    <a href="#">infos@adpme.net</a>
                                </div>
                            </div>
                            <div class="signle-footer-contact-8">
                                <div class="icon">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div class="inner-content">
                                    <h5 class="title">Adresse</h5>
                                    <a href="#">53, Av. Charles Foucault, Centre-ville <br>
                                        Brazzaville, Rép. du Congo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area-main-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-8-wrapper">
                            <p>ADPME - Copyright
                                <script>
                                    document.write(
                                        new Date().getFullYear()
                                    )
                                </script>. Tous les droits réservés.
                            </p>
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Condition</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer area start -->


    <div id="side-bar" class="side-bar header-two">
        <button class="close-icon-menu" title="Close menu"><i class="far fa-times"></i></button>
        <!-- inner menu area desktop start -->
        <div class="rts-sidebar-menu-desktop">
            <a class="logo-1" href="{% url 'accueil' %}"><img class="logo" src="{% static 'assets/images/logo/01.svg'%}" alt="finbiz_logo"></a>
            <div class="body d-none d-xl-block">
                <p class="disc">
                    We must explain to you how all seds this mistakens idea denouncing pleasures and praising account.
                    All seds this mistakens idea denouncing pleasures.
                </p>
                <div class="get-in-touch">
                    <!-- title -->
                    <div class="h6 title">Get In Touch</div>
                    <!-- title End -->
                    <div class="wrapper">
                        <!-- single -->
                        <div class="single">
                            <i class="fas fa-phone-alt"></i>
                            <a href="#">+8801234566789</a>
                        </div>
                        <!-- single ENd -->
                        <!-- single -->
                        <div class="single">
                            <i class="fas fa-envelope"></i>
                            <a href="#">example@gmail.com</a>
                        </div>
                        <!-- single ENd -->
                        <!-- single -->
                        <div class="single">
                            <i class="fas fa-globe"></i>
                            <a href="#">www.webexample.com</a>
                        </div>
                        <!-- single ENd -->
                        <!-- single -->
                        <div class="single">
                            <i class="fas fa-map-marker-alt"></i>
                            <a href="#">13/A, New Pro State, NYC</a>
                        </div>
                        <!-- single ENd -->
                    </div>
                    <div class="social-wrapper-two menu">
                        <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" aria-label="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" aria-label="instagram"><i class="fab fa-instagram"></i></a>
                        <a href="#" aria-label="instagram"><i class="fab fa-instagram"></i></a>
                        <!-- <a href="#"><i class="fab fa-linkedin"></i></a> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- mobile menu area start -->
        <div class="mobile-menu d-block d-xl-none">
            <nav class="nav-main mainmenu-nav mt--30">
                <ul class="mainmenu metismenu" id="mobile-menu-active">
                    <li class="has-droupdown">
                        <a href="#" class="main" aria-expanded="false">Demos</a>
                        <ul class="submenu mm-collapse" style="height: 0px;">
                            <li><a href="index.html">Business One</a></li>
                            <li><a href="index-two.html">Business Two</a></li>
                            <li><a href="index-three.html">Business Three</a></li>
                            <li><a href="index-four.html">Business Four</a></li>
                            <li><a href="index-five.html">Finance Demo</a></li>
                            <li><a href="index-six.html">Marketing agency</a></li>
                            <li><a href="index-seven.html">Business agency</a></li>
                            <li><a href="index-eight.html">Business Management</a></li>
                            <li><a href="index-nine.html">Insurance Home</a></li>
                            <li><a href="index-ten.html">Business Website</a></li>
                            <li><a href="index-eleven.html">Business Parallax</a></li>
                            <li><a href="index-twelve.html">Business Video</a></li>
                            <li><a href="index-thirteen.html">Accountent One</a></li>
                            <li><a href="index-fourteen.html">Accountent Two</a></li>
                            <li><a href="index-fifteen.html">HR Website</a></li>
                            <li><a href="index-sixteen.html">Business Coach</a></li>
                            <li><a href="index-seventeen.html">SEO Website</a></li>
                            <li><a href="index-eighteen.html">Technology Demo</a></li>
                            <li><a href="index-nineteen.html">Business Investment</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main" aria-expanded="false">Onepage</a>
                        <ul class="submenu mm-collapse" style="height: 0px;">
                            <li><a href="onepage-one.html">Business One</a></li>
                            <li><a href="onepage-two.html">Business Two</a></li>
                            <li><a href="onepage-three.html">Business Three</a></li>
                            <li><a href="onepage-four.html">Business Four</a></li>
                            <li><a href="onepage-five.html">Finance Demo</a></li>
                            <li><a href="onepage-six.html">Marketing agency</a></li>
                            <li><a href="onepage-seven.html">Business agency</a></li>
                            <li><a href="onepage-eight.html">Business Management</a></li>
                            <li><a href="onepage-nine.html">Insurance Home</a></li>
                            <li><a href="onepage-ten.html">Business Website</a></li>
                            <li><a href="onepage-eleven.html">Business Parallax</a></li>
                            <li><a href="onepage-twelve.html">Business Video</a></li>
                            <li><a href="onepage-thirteen.html">Accountent One</a></li>
                            <li><a href="onepage-fourteen.html">Accountent Two</a></li>
                            <li><a href="onepage-fifteen.html">HR Website</a></li>
                            <li><a href="onepage-sixteen.html">Business Coach</a></li>
                            <li><a href="onepage-eighteen.html">Technology Demo</a></li>
                            <li><a href="onepage-nineteen.html">Business Investment</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main" aria-expanded="false">Pages</a>
                        <ul class="submenu mm-collapse" style="height: 0px;">
                            <li><a href="about.html">About
                                    Company</a></li>
                            <li><a href="service.html">Service</a></li>
                            <li><a href="service-details.html">Service
                                    Details</a>
                            </li>
                            <li><a href="service-details-2.html">Service
                                    Details 2</a>
                            </li>
                            <li><a href="project.html">Project</a>
                            </li>
                            <li><a href="team.html">Team</a>
                            </li>
                            <li><a href="team-details.html">Team
                                    Details</a>
                            </li>
                            <li><a href="pricing.html">Pricing</a>
                            </li>
                            <li><a href="appoinment.html">Appoinment</a>
                            </li>
                            <li><a href="history.html">Our
                                    History</a>
                            </li>
                            <li><a href="blog-list.html">Blog
                                    List</a>
                            </li>
                            <li><a href="blog-grid.html">Blog
                                    List</a>
                            </li>
                            <li><a href="blog-details.html">Blog
                                    Details</a>
                            </li>
                            <li><a href="blog-details-2.html">Blog
                                    Details 02</a>
                            </li>
                            <li><a href="faq.html">Faq's</a>
                            <li><a href="career.html">Career</a>
                            </li>
                            <li><a href="our-mission.html">Our
                                    Mission</a>
                            </li>
                            <li><a href="partners.html">Partners</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main" aria-expanded="false">Services</a>
                        <ul class="submenu mm-collapse" style="height: 0px;">
                            <li><a class="mobile-menu-link" href="service.html">Service</a></li>
                            <li><a class="mobile-menu-link" href="service-details.html">Service Details</a></li>
                            <li><a class="mobile-menu-link" href="service-details-2.html">Service Details 2</a></li>
                            <li><a class="mobile-menu-link" href="service-details-3.html">Service Details 3</a></li>
                            <li><a class="mobile-menu-link" href="service-details-4.html">Service Details 4</a></li>
                            <li><a class="mobile-menu-link" href="service-details-5.html">Service Details 5</a></li>

                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main" aria-expanded="false">Projects</a>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main" aria-expanded="false">Shop Pages</a>
                        <ul class="submenu mm-collapse">
                            <li><a href="shop.html">Shop</a>
                            </li>
                            <li><a href="shop-single.html">Shop
                                    Details</a>
                            </li>
                            <li><a href="account.html">Account</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main" aria-expanded="false">Blog</a>
                        <ul class="submenu mm-collapse">
                            <li><a href="blog-grid.html">Blog Grid</a></li>
                            <li><a href="blog-list.html">Blog List</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                            <li><a href="blog-details-2.html">Blog Details 2</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}" class="main" aria-expanded="false">Contact Us</a>
                    </li>
                </ul>
            </nav>

            <div class="social-wrapper-one">
                <ul>
                    <li>
                        <a href="#" aria-label="Facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-label="twitter">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-label="youtube">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-label="linkedin">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- mobile menu area end -->


    </div>
    <!-- inner menu area desktop End -->


    <!-- offcanvase search -->
    <div class="search-input-area">
        <div class="container">
            <div class="search-input-inner">
                <div class="input-div">
                    <input class="search-input autocomplete" type="text" placeholder="Search by keyword or #">
                    <button><i class="far fa-search"></i></button>
                </div>
            </div>
        </div>
        <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
    </div>
    <div id="anywhere-home" class="">
    </div>

  

    <!-- progress area start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;">
            </path>
        </svg>
    </div>
    <!-- progress area end -->

    <script defer src="{% static 'assets/js/plugins/jquery.js'%}"></script>

    <script defer src="{% static 'assets/js/plugins/odometer.js'%}"></script>
    <script defer src="{% static 'assets/js/plugins/jquery-appear.js'%}"></script>


    <script defer src="{% static 'assets/js/plugins/gsap.js'%}"></script>
    <script defer src="{% static 'assets/js/plugins/split-text.js'%}"></script>
    <script defer src="{% static 'assets/js/plugins/scroll-trigger.js'%}"></script>
    <script defer src="{% static 'assets/js/plugins/smooth-scroll.js'%}"></script>
    <script defer src="{% static 'assets/js/plugins/metismenu.js'%}"></script>
    <script defer src="{% static 'assets/js/plugins/popup.js'%}"></script>

    <script defer src="{% static 'assets/js/vendor/bootstrap.min.js'%}"></script>
    <script defer src="{% static 'assets/js/plugins/swiper.js'%}"></script>
    <script defer src="{% static 'assets/js/plugins/contact.form.js'%}"></script>

    <script defer src="{% static 'assets/js/main.js'%}"></script>
</body>

</html>
