{% extends "base.html" %}

{% load static %}

{% block title %}
    ADPME - Accueil
{% endblock title %}

{% block content %}


 
    <div class="banner-swiper-two">
        <div class="swiper mySwiper-banner-two">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <!-- rts banner area start -->
                    <div class="rts-banner-area-two rts-section-gap bg_image">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="banner-inner-two-content">
                                        <p class="pre-title"><span>Bonjour !</span> Bienvenue à l'ADPME</p>
                                        <h1 class="title">L’ADPME soutient la croissance et la  <br> pérennité des entreprises</h1>
                                        <p class="disc">
                                           Des solutions d’accompagnement adaptées pour stimuler l’emploi, l’innovation et la diversification de l’économie nationale
                                        </p>
                                        <a href="#" class="rts-btn btn-primary btn-white">En savoir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shape-area-start">
                            <div class="shape shape-one">
                                <img loading="lazy" src="{% static 'assets/images/banner/shape/01.webp'%}" alt="shape-area">
                            </div>
                            <div class="shape shape-two">
                                <img loading="lazy" src="{% static 'assets/images/banner/shape/02.webp'%}" alt="shape-area">
                            </div>
                            <div class="shape shape-three">
                                <img loading="lazy" src="{% static 'assets/images/banner/shape/03.webp'%}" alt="shape-area">
                            </div>
                            <div class="shape shape-four">
                                <img loading="lazy" src="{% static 'assets/images/banner/shape/04.webp'%}" alt="shape-area">
                            </div>
                        </div>
                    </div>
                    <!-- rts banner area end -->
                </div>
                <div class="swiper-slide">
                    <!-- rts banner area start -->
                    <div class="rts-banner-area-two two rts-section-gap bg_image">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="banner-inner-two-content">
                                        <p class="pre-title"><span>Bonjour !</span> Bienvenue à l'ADPME</p>
                                        <h1 class="title">L’ADPME développe les <br> compétences des TPME </h1>
                                        <p class="disc">
                                            Formations, coaching et renforcement managérial pour améliorer la compétitivité et 
                                            la productivité des entreprises.
                                        </p>
                                        <a href="#" class="rts-btn btn-primary btn-white">En savoir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shape-area-start">
                            <div class="shape shape-one">
                                <img loading="lazy" src="{% static 'assets/images/banner/shape/01.webp'%}" alt="">
                            </div>
                            <div class="shape shape-two">
                                <img loading="lazy" src="{% static 'assets/images/banner/shape/02.webp'%}" alt="">
                            </div>
                            <div class="shape shape-three">
                                <img loading="lazy" src="{% static 'assets/images/banner/shape/03.webp'%}" alt="">
                            </div>
                            <div class="shape shape-four">
                                <img loading="lazy" src="{% static 'assets/images/banner/shape/04.webp'%}" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- rts banner area end -->
                </div>
                <div class="swiper-slide">
                    <!-- rts banner area start -->
                    <div class="rts-banner-area-two three rts-section-gap bg_image">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="banner-inner-two-content">
                                        <p class="pre-title"><span>Mbote !</span> boyei malamu </p>
                                        <h1 class="title">L’ADPME accompagne les  <br> entrepreneurs vers la réussite</h1>
                                        <p class="disc">
                                            Appui technique, orientation et suivi pour transformer 
                                            les idées en entreprises solides et performantes.
                                        </p>
                                        <a href="#" class="rts-btn btn-primary btn-white">En savoir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shape-area-start">
                            <div class="shape shape-one">
                                <img loading="lazy" src="{% static 'assets/images/banner/shape/01.webp'%}" alt="">
                            </div>
                            <div class="shape shape-two">
                                <img loading="lazy" src="{% static 'assets/images/banner/shape/02.webp'%}" alt="">
                            </div>
                            <div class="shape shape-three">
                                <img loading="lazy" src="{% static 'assets/images/banner/shape/03.webp'%}" alt="">
                            </div>
                            <div class="shape shape-four">
                                <img loading="lazy" src="{% static 'assets/images/banner/shape/04.webp'%}" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- rts banner area end -->
                </div>
            </div>
            <div class="swiper-button-next"><i class="fa-light fa-chevron-right"></i></div>
            <div class="swiper-button-prev"><i class="fa-light fa-chevron-left"></i></div>
        </div>
    </div>



    <!-- rts about area start -->
    <div class="rts-about-area-two rts-section-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="left-thumbnail-about-area-two">
                        <img loading="lazy" src="{% static 'assets/images/about/adpme-FADPME-1.jpg'%}" alt="about">
                        <div class="small-image">
                            <img loading="lazy" src="{% static 'assets/images/about/adpme-Large.png'%}" alt="small">
                        </div>
                        <div class="counter-about-area">
                            <h2 class="counter title"><span class="odometer" data-count="20">00</span>+
                            </h2>
                            <span>Ans d'expérience</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt_sm--80 mt_md--80">
                    <div class="about-inner-content-two">
                        <div class="title-style-two left">
                            <span class="bg-content">A PROPOS</span>
                            <span class="pre">A propos de l'ADPME</span>
                            <h2 class="title rts-text-anime-style-1">Accompagner et Soutenir le<br>Développement des TPME au Congo
                            </h2>
                        </div>
                        <div class="about-between-wrapper">
                            <p class="disc">
                            L’Agence de Développement des Très Petites, Petites et Moyennes 
                            Entreprises (ADPME) a pour mission d’accompagner les entrepreneurs dans la création, 
                            la structuration et le développement de leurs activités.
                            </p>
                            <p>
                               À travers des programmes d’appui, de formation, 
                               de financement et de suivi, l’ADPME œuvre pour le renforcement du 
                               tissu économique national et la promotion de l’initiative privée.
                            </p>
                            <div class="check-wrapper-area">
                                <div class="single-check">
                                    <i class="fa-solid fa-circle-check"></i>
                                    <p>Accompagnement des porteurs d'idées, de projets et dirigeants d'entreprises</p>
                                </div>
                                <div class="single-check">
                                    <i class="fa-solid fa-circle-check"></i>
                                    <p>Programmes publics d’appui aux TPME</p>
                                </div>
                                <div class="single-check">
                                    <i class="fa-solid fa-circle-check"></i>
                                    <p>Formations et renforcement des capacités entrepreneuriales</p>
                                </div>
                            </div>
                        </div>
                        <div class="call-and-sign-area two">
                            <div class="call-area">
                                <div class="icon">
                                    <i class="fa-sharp fa-regular fa-phone-volume"></i>
                                </div>
                                <div class="information">
                                    <span>Contactez-nous</span>
                                    <a href="#">
                                        <h6 class="title">(+242) 22 613 5432</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-area">
            <img loading="lazy" src="{% static 'assets/images/about/shape/01.svg'%}" alt="shape" class="one">
            <img loading="lazy" src="{% static 'assets/images/about/shape/02.svg'%}" alt="shape" class="two">
        </div>
    </div>
    <!-- rts about area end -->


    <!-- rts service area start -->
    <div class="rts-service-area pt--40 pb--60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-style-two center">
                        <span class="bg-content">Services</span>
                        <span class="pre">Nos Services</span>
                        <h2 class="title rts-text-anime-style-1">Nos services d'appui aux entrepreneurs
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-2 mt--30">
            <div class="row">
                <div class="col-lg-12">
                    <div class="service-bg-style-one-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="service-style-swiper-wrapper-two">
                                    <div class="swiper mySwiper-service-1">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="single-service-signle-wrapper">
                                                    <div class="icons">
                                                        <img loading="lazy" src="{% static 'assets/images/service/icons/01.svg'%}" alt="service">
                                                    </div>
                                                    <div class="information">
                                                        <h5 class="title">Information et orientation</h5>
                                                        <p class="disc">
                                                           Mise à disposition d’informations fiables sur les dispositifs publics, 
                                                           les opportunités entrepreneuriales, les démarches administratives et les mécanismes d’appui aux TPME.
                                                        </p>
                                                        <a href="service-details.html" class="arrow-right">
                                                            <i class="fa-sharp fa-solid fa-arrow-right"></i>
                                                            <span>En savoir plus</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-service-signle-wrapper">
                                                    <div class="icons">
                                                        <img loading="lazy" src="{% static 'assets/images/service/icons/02.svg'%}" alt="service">
                                                    </div>
                                                    <div class="information">
                                                        <h5 class="title">Accompagnement des entrepreneurs</h5>
                                                        <p class="disc">
                                                           Appui personnalisé aux porteurs de projets et chefs d’entreprise, 
                                                           de l’idée à la structuration, en passant par la formalisation et le suivi des activités.
                                                        </p>
                                                        <a href="service-details.html" class="arrow-right">
                                                            <i class="fa-sharp fa-solid fa-arrow-right"></i>
                                                            <span>En savoir plus</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-service-signle-wrapper">
                                                    <div class="icons">
                                                        <img loading="lazy" src="{% static 'assets/images/service/icons/03.svg'%}" alt="service">
                                                    </div>
                                                    <div class="information">
                                                        <h5 class="title">Formation et animation entrepreneuriale</h5>
                                                        <p class="disc">
                                                            Organisation de formations, ateliers, caravanes et sessions de sensibilisation 
                                                            pour renforcer les capacités techniques et managériales des entrepreneurs.
                                                        </p>
                                                        <a href="service-details.html" class="arrow-right">
                                                            <i class="fa-sharp fa-solid fa-arrow-right"></i>
                                                            <span>En savoir plus</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-service-signle-wrapper">
                                                    <div class="icons">
                                                        <img loading="lazy" src="{% static 'assets/images/service/icons/01.svg'%}" alt="service">
                                                    </div>
                                                    <div class="information">
                                                        <h5 class="title">Conseil</h5>
                                                        <p class="disc">
                                                            Conseiller les porteurs d'idées dans les domaines spécifiques tels que :
                                                            le Droit, la Comptabilité, les RH, Processus de production, Elaboration des documents
                                                            techniques.
                                                        </p>
                                                        <a href="#" class="arrow-right">
                                                            <i class="fa-sharp fa-solid fa-arrow-right"></i>
                                                            <span>En savoir plus</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts service area end -->  


    <div class="rts-trusted-client rts-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title-area-client-client text-center">
                        <p class="client-title">Nos Partenaires</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="client-wrapper-one">
                    <a href="#" data-animation="fadeInUp" data-delay="0.2" data-duration="1.2"><img src="{% static 'assets/images/client/acpce.png'%}" alt="adpme_acpce"></a>
                    <a href="#" data-animation="fadeInUp" data-delay="0.4" data-duration="1.2"><img src="{% static 'assets/images/client/ana.png'%}" alt="adpme_ana"></a>
                    <a href="#" data-animation="fadeInUp" data-delay="0.5" data-duration="1.2"><img src="{% static 'assets/images/client/dgpme.png'%}" alt="adpme_dgpme"></a>
                    <a href="#" data-animation="fadeInUp" data-delay="0.5" data-duration="1.2"><img src="{% static 'assets/images/client/figa.png'%}" alt="adpme_figa"></a>
                    <a href="#" data-animation="fadeInUp" data-delay="0.5" data-duration="1.2"><img src="{% static 'assets/images/client/igpmea-1.png'%}" alt="adpme_igpmea"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- rts blog area start -->
    <div class="rts-blog-area rts-section-gapBottom pt--40 mb--3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-style-two center">
                        <span class="bg-content">Actualités</span>
                        <span class="pre">Nos différentes Actualités</span>
                        <h2 class="title">Actualités récentes
                        </h2>
                    </div>
                </div>
            </div>


            <!-- Blog slide -->
            <div class="row g-5 mt--20">
                <div class="col-lg-12">
                    <div class="blog-swiper-main-wrapper-10">
                        <div class="swiper mySwiper-blog-10 pb--70" dir="ltr">
                            <div class="swiper-wrapper">
                               {% for pt in post %}
                                  <div class="swiper-slide">
                                    <!-- single Post blog large -->
                                    <div class="rts-blog-h-2-wrapper">
                                        <a href="{% url 'actu_detail' pt.blog_slug %}" class="thumbnail">
                                            <img src="{{pt.image.url}}" alt="Business_blog">
                                        </a>
                                        <div class="body">
                                            <span>{{pt.category}} / par David Dolean</span>
                                            <a href="blog-details.html">
                                                <h4 class="title">{{pt.title}} </h4>
                                            </a>
                                            <a class="rts-read-more btn-primary" href="{% url 'actu_detail' pt.blog_slug  %}"><i
                                                    class="far fa-arrow-right"></i>Lire la suite</a>
                                        </div>
                                    </div>
                                    <!-- single Post blog large End -->
                                </div>
                               {% endfor %}
                                <div class="swiper-slide">
                                    <!-- single Post blog large -->
                                    <div class="rts-blog-h-2-wrapper">
                                        <a href="blog-details.html" class="thumbnail">
                                            <img src="{% static 'assets/images/blog/05.webp'%}" alt="Business_blog">
                                        </a>
                                        <div class="body">
                                            <span>Business Solution / by David Dolean</span>
                                            <a href="blog-details.html">
                                                <h4 class="title">Transforming Your Approach to Business</h4>
                                            </a>
                                            <a class="rts-read-more btn-primary" href="blog-details.html"><i
                                                    class="far fa-arrow-right"></i>Read
                                                More</a>
                                        </div>
                                    </div>
                                    <!-- single Post blog large End -->
                                </div>
                                <div class="swiper-slide">
                                    <!-- single Post blog large -->
                                    <div class="rts-blog-h-2-wrapper">
                                        <a href="blog-details.html" class="thumbnail">
                                            <img src="{% static 'assets/images/blog/04.webp'%}" alt="Business_blog">
                                        </a>
                                        <div class="body">
                                            <span>Business Solution / by David Dolean</span>
                                            <a href="blog-details.html">
                                                <h4 class="title">Building a Brand That from Market Leaders</h4>
                                            </a>
                                            <a class="rts-read-more btn-primary" href="blog-details.html"><i
                                                    class="far fa-arrow-right"></i>Read
                                                More</a>
                                        </div>
                                    </div>
                                    <!-- single Post blog large End -->
                                </div>
                                <div class="swiper-slide">
                                    <!-- single Post blog large -->
                                    <div class="rts-blog-h-2-wrapper">
                                        <a href="blog-details.html" class="thumbnail">
                                            <img src="{% static 'assets/images/blog/06.webp'%}" alt="Business_blog">
                                        </a>
                                        <div class="body">
                                            <span>Business Solution / by David Dolean</span>
                                            <a href="blog-details.html">
                                                <h4 class="title">The quick settle tips of the new ages exist </h4>
                                            </a>
                                            <a class="rts-read-more btn-primary" href="blog-details.html"><i
                                                    class="far fa-arrow-right"></i>Read
                                                More</a>
                                        </div>
                                    </div>
                                    <!-- single Post blog large End -->
                                </div>
                                <div class="swiper-slide">
                                    <!-- single Post blog large -->
                                    <div class="rts-blog-h-2-wrapper">
                                        <a href="blog-details.html" class="thumbnail">
                                            <img src="{% static 'assets/images/blog/05.webp'%}" alt="Business_blog">
                                        </a>
                                        <div class="body">
                                            <span>Business Solution / by David Dolean</span>
                                            <a href="blog-details.html">
                                                <h4 class="title">Transforming Your Approach to Business</h4>
                                            </a>
                                            <a class="rts-read-more btn-primary" href="blog-details.html"><i
                                                    class="far fa-arrow-right"></i>Read
                                                More</a>
                                        </div>
                                    </div>
                                    <!-- single Post blog large End -->
                                </div>
                                <div class="swiper-slide">
                                    <!-- single Post blog large -->
                                    <div class="rts-blog-h-2-wrapper">
                                        <a href="blog-details.html" class="thumbnail">
                                            <img src="{% static 'assets/images/blog/04.webp'%}" alt="Business_blog">
                                        </a>
                                        <div class="body">
                                            <span>Business Solution / by David Dolean</span>
                                            <a href="blog-details.html">
                                                <h4 class="title">Building a Brand That from Market Leaders</h4>
                                            </a>
                                            <a class="rts-read-more btn-primary" href="blog-details.html"><i
                                                    class="far fa-arrow-right"></i>Read
                                                More</a>
                                        </div>
                                    </div>
                                    <!-- single Post blog large End -->
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End blog slide -->
   



   <div class="py-5"></div>
    
{% endblock content %}



