{% extends "base.html" %}

{% load static %}

{% block title %}
    ADPME - actualité
{% endblock title %}

{% block content %}
    
  <!-- about us area wrapper main -->
    <div class="rts-breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-area-left center">
                        <span class="bg-title">Actualités</span>
                        <h1 class="title rts-text-anime-style-1">
                           Actualités et Informations
                        </h1>
                        <p class="disc" style="text-align: center;">
                            Consultez nos évènements, les moments à ne pas rater
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-area">
            <img src="{% static 'assets/images/about/shape/01.png'%}" alt="shape" class="one">
            <img src="{% static 'assets/images/about/shape/02.png'%}" alt="shape" class="two">
            <img src="{% static 'assets/images/about/shape/03.png'%}" alt="shape" class="three">
        </div>
    </div>
    <!-- about us area wrapper main end -->


    <div class="rts-blog-list-area rts-section-gapBottom">
        <div class="container">
            <div class="row g-5">
                <!-- rts blog post area -->
                <div class="col-xl-8 col-md-12 col-sm-12 col-12">
                    <div class="row g-5">
                        {% for pt in posts %}
                        
                        
                        <div class="col-lg-6 col-md-6 col-sm-12" data-animation="fadeInUp" data-delay="0.1">
                            <div class="single-blog-area-one column-reverse">
                                <p>{{pt.category}} / <span>ADPME</span></p>
                                <a href="{% url 'actu_detail' pt.blog_slug %}">
                                    <h4 class="title">{{pt.title}}</h4>
                                </a>
                                <div class="bottom-details">
                                    <a href="#" class="thumbnail">
                                        <img src="{{pt.image.url}}" alt="adpme-image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- pagination area -->
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center">
                                <div class="pagination">
                                    <button class="active">01</button>
                                    <button>02</button>
                                    <button>03</button>
                                    <button>04</button>
                                    <button><i class="fal fa-angle-double-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- pagination area End -->
                </div>
                <!-- rts-blog post end area -->
                <!--rts blog wized area -->
                <div class="col-xl-4 col-md-12 col-sm-12 col-12 mt_lg--60 blog-list-style">
                   
                    <!-- single wized start -->
                    <div class="rts-single-wized Categories">
                        <div class="wized-header">
                            <h5 class="title">
                                Categories d'actu
                            </h5>
                        </div>
                        <div class="wized-body">
                          {% for c in cat %}
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a href="#">{{c.name}} <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                          
                          {% endfor %}
                        </div>
                    </div>
                    <!-- single wized End -->
                    <!-- single wized start -->
                    <div class="rts-single-wized Recent-post">
                        <div class="wized-header">
                            <h5 class="title">
                                Récentes publications
                            </h5>
                        </div>
                        <div class="wized-body">
                            <!-- recent-post -->
                             {% for pt in posts %}
                                <div class="recent-post-single">
                                    <div class="thumbnail">
                                        <a href="{% url 'actu_detail' pt.blog_slug %}"><img src="{{pt.image.url}}" alt="adpme-image" style="width: 100px;"></a>
                                    </div>
                                    <div class="content-area">
                                        <div class="user">
                                            <i class="fal fa-clock"></i>
                                            <span>{{pt.created_on}}</span>
                                        </div>
                                        <a class="post-title" href="{% url 'actu_detail' pt.blog_slug %}">
                                            <h6 class="title">{{pt.title}}</h6>
                                        </a>
                                    </div>
                                </div>
                             {% endfor %}
                            <!-- recent-post End -->
                        </div>
                    </div>
                    <!-- single wized End -->
                </div>
                <!-- rts- blog wized end area -->
            </div>
        </div>
    </div>

    <!-- rts brand area end -->


    <!-- rts cta area start -->
    <div class="rts-cta-area-inner bg_image ptb--100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-inner-content-inner-page">
                        <div class="left-side-content">
                            <span>ADPME</span>
                            <h3 class="title">Inclusion sociale et  <br>économique</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts cta area end -->  
  
{% endblock content %}


