{% extends "base.html" %}

{% load static %}

{% block title %}
   ADPME - A propos
{% endblock title %}

{% block content %}

<!-- partners area breadcrumb area wrapper -->
    <div class="partner-breadcrumb bg_image">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-area-left center">
                        <span class="bg-title">A propos</span>
                        <h1 class="title">
                            Qui sommes-nous ?
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- partners area breadcrumb area end -->

  <!-- project details area top -->
    <div class="project-details-wrapper-image-top rts-section-gap">
        <div class="container mt--30">
            <div class="row mb--40">
                <div class="col-lg-12">
                    <div class="single-project-info-wrapper-inner">
                        <h4 class="title">Présentation de l'ADPME</h4>
                        <p class="disc">
                           L’Agence de Développement des Très Petites, Petites et Moyennes Entreprises <strong>(ADPME)</strong> du Congo a pour mission de coordonner 
                           et d’harmoniser l’ensemble des actions publiques en faveur des TPME, en offrant un accompagnement intégré alliant <strong>orientation, 
                           renforcement de capacités et appui au financement</strong> pour soutenir leur création, leur formalisation et leur développement
                        </p>
                        <div class="row g-4">
                            <div class="col-lg-2">
                                <div class="single-project-info">
                                    <span>PME accompagnées :</span>
                                    <p>N/A</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="single-project-info">
                                    <span>PME bénéficiaire du FADPME :</span>
                                    <p>373</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="single-project-info">
                                    <span>Entrepreneurs formés :</span>
                                    <p>1776</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="single-project-info">
                                    <span>PME bénéficiaire du CPA :</span>
                                    <p>216</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="single-project-info">
                                    <span>Jeunes formés (GERME) </span>
                                    <p>N/A</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="single-project-info">
                                    <span>Financement accordé aux PME (en milliards de Fcfa):</span>
                                    <p>2 M FCFA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- vision de l'ADPME -->
                <div class="col-lg-12 mt--50">
                    <div class="faq-inner-wrapper-one project-detils">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="right-area">
                                            <h4 class="title">Que visons-nous ?</h4>
                                            <p class="bold">
                                                À l’horizon 2030, les très petites, petites et moyennes entreprises congolaises sont compétitives, 
                                                innovantes et constituent des moteurs essentiels de la diversification 
                                                et de la transformation de l’économie nationale, contribuant durablement à la prospérité du Congo.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- vision end -->
            <br>
            
            <div class="row mb--40">
                <div class="col-lg-12">
                    <div class="project-details-content-bottom">
                        <h4 class="title">Notre mission</h4>
                        <p class="disc">
                            L’<strong>Agenre de Développement des très Petites, Petites et Moyennes Entreprise</strong> (ADPME) assure une mission d’encadrement visant à favoriser la <strong>création et le développement des entreprises</strong>. 
                            Pour répondre aux besoins de <strong>renforcement des capacités des entrepreneurs</strong>, elle propose une offre intégrée de <strong>services non financiers</strong>, 
                            complémentaires et adaptés aux différentes étapes de vie de l’entreprise ainsi qu’aux divers niveaux de développement des compétences entrepreneuriales.
                        </p>
                        <p class="bold">
                            L’ADPME a pour principales missions de :
                            <ol class="ms-4">
                                <li class="mb-2"><strong>Coordonner et harmoniser les interventions de soutien et d’accompagnement</strong> en faveur des Très Petites, Petites et Moyennes Entreprises (TPME).</li>
                                <li class="mb-2"><strong>Vulgariser les opportunités d’investissement et d’affaires</strong>, y compris la reprise d’entreprises, à partir d’études et d’analyses sectorielles.</li>
                                <li class="mb-2"><strong>Aider à la formalisation et au démarrage des entreprises</strong>, notamment en appuyant l’élaboration des plans d’affaires et autres documents essentiels.</li>
                                <li class="mb-2"><strong>Accompagner les TPME dans la recherche de financement</strong> pour lancer ou développer leurs activités.</li>
                                <li class="mb-2"><strong>Contribuer à la formation</strong> des porteurs de projets, des dirigeants et des employés des TPME</li>
                                <li class="mb-2"><strong>Vulgariser les technologies performantes</strong> et les résultats de recherche adaptés aux besoins des TPME.</li>
                                <li class="mb-2"><strong>Mettre en œuvre des mécanismes d’alerte, de suivi, de prévention et de redressement</strong> pour les entreprises accompagnées, 
                                    en coopération avec les acteurs spécialisés.</li>
                                <li class="mb-2"><strong>Mettre en place des dispositifs de labellisation des bénéficiaires</strong> et de certification des partenaires impliqués dans les actions d’accompagnement.</li>
                            </ol>
                        </p>
                        <h4 class="title">Nos valeurs fondamentales (ce qui guide l'ADPME)</h4>
                        <p class="disc">
                           <ol class="ms-4">
                            <li class="mb-2">Entrepreneuriat et créativité</li>
                            <li class="mb-2">Accompagnement durable</li>
                            <li class="mb-2">Professionnalisme</li>
                            <li class="mb-2">Inclusion sociale et économique</li>
                            <li class="mb-2">Innovation au service des entreprises</li>
                           </ol>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- counterup area start -->
                    <div class="counterup-area-project-details">
                        <div class="single-counter-up-area">
                            <div class="icon">
                                <img src="{% static 'assets/images/portfolio/icons/05.svg'%}" alt="portfolio">
                            </div>
                            <h2 class="counter title"><span class="odometer" data-count="9000">00</span>+
                            </h2>
                            <p class="disc">
                                Porteurs d'idées et de projets
                                à la Caravane de l'entrepreneuriat
                            </p>
                        </div>
                        <div class="single-counter-up-area with-pl">
                            <div class="icon">
                                <img src="{% static 'assets/images/portfolio/icons/06.svg'%}" alt="portfolio">
                            </div>
                            <h2 class="counter title"><span class="odometer" data-count="1500">00</span>+
                            </h2>
                            <p class="disc">
                                Entrepreneurs formés
                            </p>
                        </div>
                        <div class="single-counter-up-area with-pl">
                            <div class="icon">
                                <img src="{% static 'assets/images/portfolio/icons/07.svg'%}" alt="portfolio">
                            </div>
                            <h2 class="counter title"><span class="odometer" data-count="200">00</span>+
                            </h2>
                            <p class="disc">
                                Entreprises bénéficiaire d'un appui direct
                            </p>
                        </div>
                        <div class="single-counter-up-area with-pl b-n">
                            <div class="icon">
                                <img src="{% static 'assets/images/portfolio/icons/08.svg'%}" alt="portfolio">
                            </div>
                            <h2 class="counter title"><span class="odometer" data-count="16">00</span>+
                            </h2>
                            <p class="disc">
                               Localités courvertes
                            </p>
                        </div>
                    </div>
                    <!-- counterup area end -->
                </div>

                <!-- priorité de l'ADPME -->
                <div class="col-lg-12 mt--50">
                    <div class="faq-inner-wrapper-one project-detils">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="right-area">
                                            <h4 class="title">Quelles sont nos priorités ?</h4>
                                            <p class="disc mb--20">
                                                <ol class="ms-4">
                                                    <li class="mb-2"><strong>Stimuler l’esprit d’entreprise et encourager l’innovation</strong></li>
                                                    <li class="mb-2"><strong>Accroître la productivité et renforcer la compétitivité des entreprises</strong></li>
                                                    <li class="mb-2"><strong>Améliorer l’accès des MPME aux mécanismes de financement</strong></li>
                                                    <li class="mb-2"><strong>Développer les capacités managériales et opérationnelles des dirigeants de MPME</strong></li>
                                                </ol>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- priorité end -->

            </div>

        </div>
    </div>
    </div>
    <!-- project details area top -->

   <div class="mt-180"></div>


    
{% endblock content %}

