{% extends "base.html" %}

{% load static %}

{% block title %}
   ADPME - Conseil
{% endblock title %}

{% block content %}



    <div class="breadcrumb-service-detals-one">
        <div class="container-full">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-inner-service-details-1 large-height bg_image">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="title-area-left">
                                        <span class="bg-title">Conseil</span>
                                        <h1 class="title rts-text-anime-style-1">
                                            Conseil Solution
                                        </h1>
                                        <p class="disc"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- rts business details area left main -->
    <div class="rts-service-details-area-main-bottom ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="service-details-left-area mt--0 rts-section-gapTop">
                        <h3 class="title rts-text-anime-style-1">L'ADPME</h3>
                        <p class="disc">
                           met à la disposition des porteurs de projets et des entrepreneurs des services de <strong>conseil personnalisés</strong>, 
                           destinés à les aider à structurer, améliorer et pérenniser leurs activités.
                            À travers des échanges individualisés, l’agence accompagne les entrepreneurs dans la 
                            clarification de leurs idées, l’analyse de la viabilité de leurs projets, l’amélioration de leur 
                            organisation interne et la prise de décisions stratégiques adaptées à leur contexte.
                        </p>
                        <p class="disc">
                            Le conseil offert par l’ADPME vise à renforcer la qualité des projets entrepreneuriaux, 
                            à réduire les risques liés au lancement ou au développement des entreprises et à favoriser une 
                            gestion plus efficace et durable des très petites, petites et moyennes entreprises.
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts business details area left main end -->

    <!-- rts cta area start -->
    <div class="rts-cta-area-inner bg_image ptb--100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-inner-content-inner-page">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts cta area end -->
    
{% endblock content %}

