 <!-- rts blog area start -->
        <div class="rts-blog-area  rts-section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-style-two center">
                            <span class="pre">Blog & News</span>
                            <h2 class="title">Recent blog post
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row g-5 mt--20">
                    <div class="col-lg-12">
                        <div class="blog-swiper-style-one">
                            <div class="swiper mySwiper-blog-one" dir="ltr">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="single-blog-area-one without-radious">
                                            <p>Business Solution / <span>by David Dolean</span></p>
                                            <a href="blog-details.html">
                                                <h4 class="title">Building a Brand That from Market Leaders</h4>
                                            </a>
                                            <div class="bottom-details">
                                                <a href="blog-details.html" class="thumbnail">
                                                    <img src="assets/images/blog/11.webp" alt="blog-area">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="single-blog-area-one without-radious">
                                            <p>Business Solution / <span>by David Dolean</span></p>
                                            <a href="blog-details.html">
                                                <h4 class="title">Transforming Your Best Of Approach to Business</h4>
                                            </a>
                                            <div class="bottom-details">
                                                <a href="blog-details.html" class="thumbnail">
                                                    <img src="assets/images/blog/12.webp" alt="blog-area">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="single-blog-area-one without-radious">
                                            <p>Business Solution / <span>by David Dolean</span></p>
                                            <a href="blog-details.html">
                                                <h4 class="title">The quick settle tips of the new ages exist</h4>
                                            </a>
                                            <div class="bottom-details">
                                                <a href="blog-details.html" class="thumbnail">
                                                    <img src="assets/images/blog/13.webp" alt="blog-area">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="single-blog-area-one without-radious">
                                            <p>Business Solution / <span>by David Dolean</span></p>
                                            <a href="blog-details.html">
                                                <h4 class="title">Building a Brand That from Market Leaders</h4>
                                            </a>
                                            <div class="bottom-details">
                                                <a href="blog-details.html" class="thumbnail">
                                                    <img src="assets/images/blog/11.webp" alt="blog-area">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="single-blog-area-one without-radious">
                                            <p>Business Solution / <span>by David Dolean</span></p>
                                            <a href="blog-details.html">
                                                <h4 class="title">Transforming Your Best Of Approach to Business</h4>
                                            </a>
                                            <div class="bottom-details">
                                                <a href="blog-details.html" class="thumbnail">
                                                    <img src="assets/images/blog/12.webp" alt="blog-area">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="single-blog-area-one without-radious">
                                            <p>Business Solution / <span>by David Dolean</span></p>
                                            <a href="blog-details.html">
                                                <h4 class="title">The quick settle tips of the new ages exist</h4>
                                            </a>
                                            <div class="bottom-details">
                                                <a href="blog-details.html" class="thumbnail">
                                                    <img src="assets/images/blog/13.webp" alt="blog-area">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- rts blog area end -->

***********************


 <!-- rts business details area left main -->
    <div class="rts-service-details-area-main-bottom ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="service-details-left-area mt--0 rts-section-gapTop">
                        <h3 class="title rts-text-anime-style-1">La Foire Aux Questions (FAQ)</h3>
                        <p class="disc">
                            La <strong>Foire Aux Questions (FAQ)</strong> de l’Agence de Développement des Petites et Moyennes Entreprises (ADPME) 
                            a pour objectif de répondre aux interrogations les plus fréquentes des porteurs de projets, des 
                            entrepreneurs et des artisans.
                        </p>
                        <p class="disc">
                           Que vous soyez au stade de l’idée, en phase de création d’entreprise ou déjà dirigeant d’une PME, 
                           cette rubrique vous permettra de mieux comprendre les services proposés par l’ADPME, 
                           les conditions d’accompagnement et les différentes opportunités offertes pour soutenir le
                           développement de votre activité.
                        </p>

                        <h3 class="title mt--50 rts-text-anime-style-1">Questions et Réponses</h3>

                         <div class="accordion faq-wrapper-inner-page mt--50" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        01. Qu’est-ce que l’ADPME ?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                       L’ADPME est l’Agence de Développement des Petites et Moyennes Entreprises. 
                                       Elle a pour mission d’accompagner les porteurs de projets, les entrepreneurs et les artisans dans la 
                                       création, le développement et la pérennisation de leurs activités.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        02. Qui peut bénéficier des services de l’ADPME ?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Les services de l’ADPME sont destinés :
                                            <ul>aux jeunes porteurs de projets ;</ul>
                                            <ul>aux créateurs d’entreprises ;</ul>
                                            <ul>aux Très Petites, Petites et Moyennes Entreprises (TPME) ;</ul>
                                            <ul>aux artisans ;</ul>
                                            <ul>aux coopératives et groupements économiques.</ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        03. Quels types d’accompagnement propose l’ADPME ?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        L’ADPME propose plusieurs types d’accompagnement, notamment :
                                            <ol>l’orientation et le conseil entrepreneurial ;</ol>
                                            <ol>la formation et le renforcement des capacités ;</ol>
                                            <ol>l’accompagnement à la création d’entreprise ;</ol>
                                            <ol>l’aide à l’élaboration de plans d’affaires ;</ol>
                                            <ol>la facilitation de l’accès au financement ;</ol>
                                            <ol>le suivi et l’encadrement des entreprises.</ol>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        04. Comment s’inscrire à un programme de l’ADPME ?
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Pour participer à un programme de l’ADPME, vous pouvez :
                                        <ol>vous inscrire lors des campagnes d’enrôlement organisées par l’agence ;</ol>
                                        <ol>répondre aux appels à candidatures publiés sur le site officiel ;</ol>
                                        <ol>vous rapprocher des services départementaux de l’ADPME.</ol>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        05. L’ADPME finance-t-elle directement les projets ?
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        L’ADPME ne finance pas directement les projets. Cependant, elle facilite l’accès aux financements en mettant les entrepreneurs 
                                        en relation avec des institutions financières et des partenaires techniques.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSixe">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixe" aria-expanded="false" aria-controls="collapseFive">
                                        06. L’ADPME accompagne-t-elle les jeunes entrepreneurs ?
                                    </button>
                                </h2>
                                <div id="collapseSixe" class="accordion-collapse collapse" aria-labelledby="headingSixe" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Oui. La promotion de l’entrepreneuriat des jeunes constitue une priorité pour l’ADPME. 
                                        Des programmes spécifiques sont mis en place pour encourager l’innovation, l’auto-emploi 
                                        et la création d’entreprises par les jeunes.
                                    </div>
                                </div>
                            </div>
                            
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSeven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseFive">
                                        07. Dans quels secteurs d’activité l’ADPME intervient-elle ?
                                    </button>
                                </h2>
                                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        L’ADPME accompagne les entrepreneurs dans plusieurs secteurs, notamment :
                                        <ol>l’agriculture et l’agro-transformation ;</ol>
                                        <ol>l’artisanat ;</ol>
                                        <ol>le commerce ;</ol>
                                        <ol>les services ;</ol>
                                        <ol>l’industrie légère ;</ol>
                                        <ol>les technologies et l’innovation.</ol>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingHeigh">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHeigh" aria-expanded="false" aria-controls="collapseFive">
                                        08. Où se trouvent les services de l’ADPME ?
                                    </button>
                                </h2>
                                <div id="collapseHeigh" class="accordion-collapse collapse" aria-labelledby="headingHeigh" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                       L’ADPME dispose de services dans plusieurs départements du pays afin d’assurer un accompagnement de proximité aux entrepreneurs.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingNine">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseFive">
                                        09. Comment rester informé des activités de l’ADPME ?
                                    </button>
                                </h2>
                                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                       Pour rester informé :
                                        <ol>consultez régulièrement le site officiel de l’ADPME ;</ol>
                                        <ol>suivez les annonces et actualités publiées par l’agence ;</ol>
                                        <ol>participez aux événements et programmes organisés pour les entrepreneurs.</ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts business details area left main end -->

    